@if (isLoading) {
  <app-skeleton-loader></app-skeleton-loader>
} @else {
  <div class="stores-container">
    <h2>Our Locations</h2>
    <div class="store-list">
      @for (store of stores; track store.id) {
        <div class="store-card">
          <img src="assets/images/brew-buddy/stores/{{ store.id }}.jpg" alt="{{ store.name }}" class="store-image" (error)="onImageError($event)">
          <div class="store-details">
            <h3>{{ store.name }}</h3>
            <p>{{ store.address }}</p>
            <p>Phone: {{ store.phone }}</p>
            <p>Hours: {{ store.hours }}</p>
            <button>View Details</button>
          </div>
        </div>
      }
    </div>
  </div>
}
