<div class="main-content-wrapper">
  <app-network-status></app-network-status>
  <app-top-navbar   
    [navbarItems]="topNavbarConfig"
    (menuToggle)="onMenuToggle()"
    (searchOpen)="onSearchOpen()"
    (loginOpen)="onLoginOpen()"
    (cartOpen)="onCartOpen()"
  ></app-top-navbar>

  <app-location-bar></app-location-bar>

  <div class="main-content">
    <!-- Your main application content goes here, and will be scrollable -->
    <router-outlet></router-outlet>
  </div>

  <app-bottom-sticky-navbar
    [navbarItems]="bottomNavbarConfig"
  ></app-bottom-sticky-navbar>
  <app-checkout-banner></app-checkout-banner>
</div>
