<nav class="top-navbar">
  <div class="left-items">
    @for (item of navbarItems | filterByPosition:'left'; track item.label || item.icon) {
      @if (item.icon) {
        <a class="nav-item" (click)="onItemClick(item)" [routerLink]="item.route || []">
          <span class="material-icons">{{ item.icon }}</span>
          @if (item.label) {
            <span class="label">{{ item.label }}</span>
          }
        </a>
      }
    }
  </div>

  <div class="center-item">
    <a class="nav-item title-link" [routerLink]="['/home']">
      <span class="label">{{ getDisplayTitle() }}</span>
    </a>
  </div>

  <div class="right-items">
    @for (item of navbarItems | filterByPosition:'right'; track item.label || item.icon) {
      @if (item.icon) {
        <a class="nav-item" (click)="onItemClick(item)" [routerLink]="item.route || []">
          @if (item.action === 'openLogin') {
            <!-- Account menu - show different icon/label based on login state -->
            @if (currentUser) {
              <span class="material-icons">person</span>
              <span class="label">Profile</span>
            } @else {
              <span class="material-icons">account_circle</span>
              <span class="label">Login</span>
            }
          } @else {
            <!-- Other menu items -->
            <span class="material-icons">{{ item.icon }}</span>
            @if (item.label) {
              <span class="label">{{ item.label }}</span>
            }
          }
          @if (item.icon === 'shopping_cart') {
            @if ((cartState$ | async)?.totalQuantity && (cartState$ | async)!.totalQuantity > 0) {
              <span class="cart-badge">{{ (cartState$ | async)!.totalQuantity }}</span>
            }
          }
        </a>
      }
    }
    
    <!-- Exit App Button -->
    @if (selectedStore) {
      <a class="nav-item exit-btn" (click)="onExitClick()" title="Exit App">
        <span class="material-icons">exit_to_app</span>
        <span class="label">Exit</span>
      </a>
    }
  </div>
</nav>
