@if (isLoading) {
  <app-skeleton-loader></app-skeleton-loader>
} @else {
  <div class="menu-container">
    <h1>Our Coffee Menu</h1>

    <section class="coffee-categories">
      <!-- Espresso Drinks Category -->
      <div class="category">
        <h2>Espresso Drinks</h2>
        <div class="menu-items-grid">
          @for (product of products | filterByCategory:'Espresso Drinks'; track product.id) {
            <app-product-tile
              [product]="product"
              (addProduct)="onAddProduct($event)"
              (updateQuantity)="onUpdateQuantity($event)"
            ></app-product-tile>
          }
        </div>
      </div>

      <!-- Brewed Coffee Category -->
      <div class="category">
        <h2>Brewed Coffee</h2>
        <div class="menu-items-grid">
          @for (product of products | filterByCategory:'Brewed Coffee'; track product.id) {
            <app-product-tile
              [product]="product"
              (addProduct)="onAddProduct($event)"
              (updateQuantity)="onUpdateQuantity($event)"
            ></app-product-tile>
          }
        </div>
      </div>

      <!-- Pastries & Snacks Category -->
      <div class="category">
        <h2>Pastries & Snacks</h2>
        <div class="menu-items-grid">
          @for (product of products | filterByCategory:'Pastries & Snacks'; track product.id) {
            <app-product-tile
              [product]="product"
              (addProduct)="onAddProduct($event)"
              (updateQuantity)="onUpdateQuantity($event)"
            ></app-product-tile>
          }
        </div>
      </div>
    </section>
  </div>
}
